/*************Tag Selectors*************/

body {
    background-color: black;
    font-family: 'Arvo', serif;
}

/************Class Selectors************/

.Banner img {
    width: 100%;
    height: auto; 
}

.Navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 80, 80);
}

.Navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    float: right;
    /*background-color: #5a5a5a;*/
}

/*nav bar*/
.Navigation img {
    width: 10%;
    height: auto;
}

.Navigation li a:hover:not(.active) {
    background-color: gray;
}

.active {
    background-color: lime;
}

.SocialMedia ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.SocialMedia li a {
    display: block;
    float: right;
    padding: 12px 6px;
}

.SocialMedia img {
    width: 25px;
    height: auto;
}

/*************ID Selectors*************/

#HomeButton {
    float: left;
}